.doughnuts-container {
  margin: 0 auto;
}
.doughnuts-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.doughnuts-grid-item {
  flex-basis: 100%;
  -ms-flex: auto;
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}
@media(min-width: 576px) {
  .doughnuts-grid-item {
    flex-basis: 50%;
    padding-bottom: 50%;
  }
}
@media(min-width: 768px) {
  .doughnuts-grid-item {
    flex-basis: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media(min-width: 992px) {
  .doughnuts-grid-item {
    flex-basis: 25%;
    padding-bottom: 25%;
  }
}
@media(min-width: 1200px) {
   .doughnuts-grid-item {
    flex-basis: 20%;
    padding-bottom: 20%;
  }
}
.doughnut-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  display:block;
}
.doughnut-svg-container svg text {
  fill: #555;
  dominant-baseline: middle;
  text-anchor: middle;
}
.doughnut-svg-container svg text.doughnut-perc-label {
  font-size: 0.6em;
}
.doughnut-svg-container svg text.doughnut-fuel-label {
  font-size: 0.2em;
}
.doughnut-circle {
  fill:white;
  stroke:white;
  stroke-width:3.5;
}
.doughnut-chart {
  fill:transparent;
  stroke: slategray;
  stroke-width:3.5;
  stroke-dashoffset:25;
  stroke-dasharray: 0 100;
  -webkit-transition: stroke-dasharray 2s;
  transition: stroke-dasharray 2s;
}
.doughnuts-grid-item:nth-child(even) .doughnut-chart {
  stroke: #9fb6cd;
}
