@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

body {
    padding: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.loading {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-item + .chart-item {
    margin-top: 2em;
}

.chart-item__label {
    font-size: 0.9em;
    text-align: right;
    text-transform: capitalize;
}
.chart-item__perc {
    font-size: 0.9em;
    color: #999;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.date-container {
    position: relative;
    margin: 2em 0;
}

.date-container__item {
    text-align: center;
    color: tomato;
}
.date-container__item span {
    display: block;
    font-size: 2em;
    font-family: 'Merriweather', serif;
}

.date-container__item + .date-container__item {
    border-left: 1px solid #ccc;
}