.container {
    display: flex;
    flex-direction: column;
    max-width: 64rem;
    height: 37.5rem;
    margin: 0 auto;
    flex-grow: 1;
    justify-content: center;
}

.chart-header {
    text-align: center;
    font-size: .8rem;
    padding: 1rem 0;

    @media(min-width: 48rem) {
        font-size: 2rem;
    }
}

.center-flex {
    align-self: center;
}